mixin tour(tour)
  .card.mb-3.text-bg-light.border-info
    .row
      .col-md-4
        a(href=tour.tbl  target="_blank")
          img(class="list" src=tour.foto)
      .col-md-8
        .card-header.text-center.bg-light= tour.name
        .card-body
          p.card-text.bg-light= tour.inhoud
    .card-footer
      p.text-end Duur: #{tour.duur} uur
