mixin tour(tour, fotos)
  .card.tour.mb-3.text-bg-light.border-info
    .card-header.bg
      .text-center.pt-6
        a(href=tour.tbl  target="_blank")= tour.name
    .row.align-items-center
      - var id = tour.name
      .col-5
        .carousel.slide.carousel-fade(data-bs-ride="carousel" id=id)
          .carousel-inner
            each foto in fotos
              if foto.tourID == tour.id
                .carousel-item.active
                  img.list(src=foto.foto)
      .col-7
        .card-body
          p.card-text.bg-light= tour.inhoud
          p.text-end Duur: #{tour.duur} uur
//- test