mixin tour(tour)
  .card.mb-3.text-bg-light.border-info
    .row.align-items-center
      - var id = tour.name
      .col-5
        .carousel.slide.carousel-fade(data-bs-ride="carousel" id=id)
          .carousel-inner
            each foto in tour.fotos
              .carousel-item.active
                img.list(src=foto)
      .col-7
        .card-header.text-center.bg-light
          a(href=tour.tbl  target="_blank")= tour.name
        .card-body
          p.card-text.bg-light= tour.inhoud
          p.text-end Duur: #{tour.duur} uur
//- test